body {
    margin: 10px;
    font-family: Verdana, sans-serif;
    line-height: 2;
}
.container {
    margin: 30px auto;
    max-width: 800px;
}
.container img {
    max-width: 100%;
    height: auto;
}
h1 {
    font-size: 4em;
    font-weight: bold;
    font-family: 'Trebuchet MS', sans-serif;
}
p {
    font-size: 2em;
}