.topSection {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.topSection img {
    height: 100%;
    width: auto;
}
body {
    margin: 10px;
    font-family: Verdana, sans-serif;
    line-height: 2;
    padding-top: 10vh;
}
.container {
    margin: 30px auto;
    max-width: 800px;
}
.container img {
    max-width: 100%;
    height: auto;
}
h1 {
    font-size: 4em;
    font-weight: bold;
    font-family: 'Trebuchet MS', sans-serif;
}
p {
    font-size: 2em;
}