.topSection {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    background-color: white;
}
.left {
    margin-left: 10px;
    height: 50%;
    width: 33%;
}
.center {
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right {
    margin-right: 0px;
    width: 33%;
    height: 35%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
}
.topSection img {
    height: 100%;
    width: auto;
}
body {
    margin: 10px;
    font-family: Verdana, sans-serif;
    padding-top: 10vh;
}
.container {
    margin: 30px auto;
    max-width: 800px;
}
.container img {
    max-width: 100%;
    height: auto;
}
h1 {
    font-size: 4em;
    font-weight: bold;
    line-height: 1.2;
    font-family: 'Trebuchet MS', sans-serif;
}
p {
    font-size: 2.5em;
    line-height: 1.5;
}