body {
    margin: 10px;
}
.container {
    margin: 30px auto;
    max-width: 800px;
}
.introImg {
    width: 25%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}