body {
    margin: 10px;
    font-family: 'Roboto', sans-serif;
}
.container {
    margin: 30px auto;
    max-width: 800px;
}
.container img {
    max-width: 100%;
    height: auto;
}
h1 {
    font-size: 3em;
    font-weight: bold;
}
p {
    font-size: 1.5em;
}